$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Google Font
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300|Roboto+Condensed:400,700,300);

body {
  font-family: 'Roboto Condensed';
  background-color: #637282;
  color: #637283;
}

.page-wrapper {
  background-color: #F7F9FA;
  border-top: 5px solid #2196f3;
}
.page-title {
  color: #0d47a1;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: -1px;
  
  @media  (min-width: $screen-sm-min) {
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 0;
  }
}
.page-subtitle {
  color: #42a5f5;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;

  @media  (min-width: $screen-sm-min) {
    font-size: 22px;
  }

    strong {
      font-weight: 400;
    }
}

.form-container {
  margin-top: 40px;
  margin-bottom: 40px;

  @media  (min-width: $screen-sm-min) {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  label {
    text-transform: uppercase;
    color: #AFBACA;
    margin-bottom: 10px;
  }

  .input-container {
    
    @media  (min-width: $screen-sm-min) {
      padding-right: 5px; 
    }

    .input-group-addon {
      font-size: 32px;
      border: none;
      background: none;
      border-radius: 0;
      border-bottom: 1px solid #c5c5c5;
      padding-left: 0;
      color: inherit;
    }

    input {
      /*text-align: right;
      height: 50px;
      line-height: 1;
      font-size: 36px;*/
      border: none;
      text-align: right;
      height: 50px;
      line-height: 1;
      font-size: 36px;
      box-shadow: none;
      background: none;
      border-bottom: 1px solid #c5c5c5;
      border-radius: 0;
      color: inherit;
    }
  }

  .action-container {
    margin-top: 10px;

    @media  (min-width: $screen-sm-min) {
      padding-left: 0; 
      margin-top: 0;
    }

    .action-submit {
      background-color: #42a5f5;
      text-transform: uppercase;
      height: 50px;
      border: none;
      font-weight: 700;

      &:hover {
        background-color: #2196f3;
      }
    }
  }
}

.tax-container {
  
  .card {
    background-color: #fff;
    box-shadow: 0 1px 2px #A5A5A5;
    padding: 5px;

    .card__title {
      margin-left: -5px;
      margin-right: -5px;
      margin-top: -5px;
      padding-top: 10px;
      background-color: #0d47A1;
      color: #FFF;
      padding-bottom: 10px;
      font-weight: 400;
      font-size: 16px;

      .mdi {
        margin-right: 10px;
      }
    }

    .card__content {
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  .card-container:nth-child(1) .card {
    margin-right: -10px;
  }

  .card-container:nth-child(2) .card {
    margin-left: -5px;
    margin-right: -5px;
  }

  .card-container:nth-child(3) .card {
    margin-left: -10px;
  }
}

.total-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  background-color: #637282;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;

  a {
    color: #AFBACA;
  }
}