<h1 class="page-title">Calculadora Salarial</h1>
<p class="page-subtitle"><strong>Calcula tu sueldo neto y los descuentos de ley correspondientes.</strong></p>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 form-container">
    <form ng-submit="calculate()">
      <div class="row">
        <div class="col-xs-12">
          <label>Sueldo bruto</label>
        </div>
        <div class="col-sm-7 input-container">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" step="any" placeholder="0.00" class="form-control" ng-model="salary">
          </div>
        </div>
        <div class="col-sm-5 action-container">
          <input type="submit" class="form-control btn btn-primary action-submit" value="Calcular">
        </div>
      </div>
    </form>
  </div>
</div>
<nav class="tabs-container">
  <ul class="tabs">
    <li class="tabs__tab-item tabs__tab--active"><a href="#">Mensual</a></li>
    <li class="tabs__tab-item"><a href="#">Quincenal</a></li>
  </ul>
</nav>
<div class="row tax-container">
<div class="col-xs-4 text-center card-container">
  <div class="card">
    <h3 class="card__title"><span class="glyphicon glyphicon-piggy-bank"></span>AFP</h3>
    <h4 class="card__content">{{afpAmount | currency}}</h4>
  </div>
</div>
<div class="col-xs-4 text-center card-container">
  <div class="card">
    <h3 class="card__title"><span class="glyphicon glyphicon-apple"></span>ISSS</h3>
    <h4 class="card__content">{{isssTaxAmount | currency}}</h4>
  </div>
</div>
<div class="col-xs-4 text-center card-container">
  <div class="card">
    <h3 class="card__title"><span class="glyphicon glyphicon-briefcase"></span>I.S.R.</h3>
    <h4 class="card__content">{{utilityTaxAmount | currency}}</h4>
  </div>
</div>
  <div class="col-xs-12 text-center total-container">
    <h1>Sueldo Neto</h1>
    <h2>{{result | currency}}</h2>
  </div>
</div>